<form class="form" action="/poems/<%= poem.id %>/applauses" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <input type="submit" class="input input-no-margin button button-applaud button-coral" value="Applaud">
</form>
